* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b44c5
}

h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
}

.inicial-line {
    color: #3052da;
    width: 10%;
    margin: 30px auto;
}

main {
    width: min(100vw, 768px);
    margin: 0 auto;
}

h2 {
    padding-left: .25em;
    font-size: 1.3rem;
    text-transform: uppercase;
}
