* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b44c5
}

h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
}

.inicial-line {
    color: #3052da;
    width: 10%;
    margin: 30px auto;
}

main {
    width: min(100vw, 1080px);
    margin: 0 auto;
}

h2 {
    padding-left: .25em;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.card {
    background-color: #3052da;
    position: relative;
    display: flex;
    flex-flow: row wrap;

    margin: 15px auto;
    padding: .8em;
    width: min(90vw, 600px);
    border-radius: .3rem;
    overflow: hidden;
}

.card__left {
    width: 70%;
}

.card__right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card__right button {
    background-color: #0316ab;
    border: none;
    outline: none;

    color: #c1c3df;
    padding: .4rem;
    width: 80%;
    border-radius: .3rem;
    text-transform: uppercase;
    font-weight: bold;

    transition: 200ms;
}
.card__right button:hover {
    cursor: pointer;
    background-color: #1729b1;
}

.card__cat {
    background-color: #4f7bf4;
    position: absolute;
    right: 0;
    top: 0;

    font-size: .8rem;
    padding: .5em;
    border-end-start-radius: .5em;
}

.card h3 {
    font-size: 1.5rem;

}

.card__price {
    color: #6b8eff;
    font-size: 1.2rem;
    font-weight: bold;
}